.Bbox{
    border: 5px solid rgb(252, 252, 252);
    border-radius: 25px;
    height: 80vh;
    width: 45vh;
    justify-self: center;
    align-self: center;
    display: grid;
    justify-items: center;
    align-items: center;
    color: rgb(40, 5, 75);
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.Bitem1{
    text-transform: uppercase;
    text-align: center;
}
.btn6{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 13, 255, 0.368);
    color: white;
    
}
.searchbar{
    padding: 5px;
    border-radius: 10px;
    /* height: 40px; */
    background-color: rgba(16, 40, 147, 0);
    color: white;
    font-size: 20px;
}
.btn6:hover{
    background-color: brown;
    transition-duration: .5s;
}
.arrow{
    background: none;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    margin-right: 200px;
}
.arrow:hover{
    width: 15px;
    cursor: pointer;
}
.icon{
    /* background-color:red; */
    background: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 8px;
}
@media(max-width:350px){
    .Bbox{
        border: none;
    }
}